/* google font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* header part */

.honda-cbr{
    background-color: #264653;
}

/* <!-- Fetured Bikes 2021--> */

.best-bike{
    color: #E76F51;
}
.glace{
    filter: grayscale(100%);
}
.glace:hover{
    filter: none;
}

/* happy clients part style */
.title-clients{
    color: #E76F51;
}
.fa-star {
    color: #E76F51;
}
.sabrina{
    height: 149px;
    width: 149px;
    border-radius: 50%;


}


/* bonus part 2 */
.subscribe{
    background-color: #51aa1b;
    /* height: 17rem; */
}
.fa-envelope{
    font-size: 5rem;
    color: white;
}